body {
	background-color:black;
	text-align: center;
}

#container {
    width: 90%;
    margin: 0 auto;
}

#header {
    padding: 0 10px;
}

#header {
    margin: 0;
    padding: 10px 0;
    font-family: 'Lobster', cursive;
    color:white;
    font-size: 3em;
}

#content {
    margin: 0 20px 0 20px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
}

#footer {
    padding: 0 10px;
    font-family: Georgia, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 15em:
    color:white;
}

#footer p{
    margin: 0;
    padding: 10px 0;
}

.clearFloat {
    clear: both;
}